* {
  font-family: 'Roboto', sans-serif;
}
.viapulsa {
  padding: 20px 20px 0 20px;
}
.flex-container {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  overflow: hidden;
  top: 20px;
  width: 95%;
  margin: 20px 20px;
}

li a {
  color: white;
  text-align: center;
  padding: 5px 35px;
  text-decoration: none;
  font-family: "Roboto";
  font-size: 20px;
  justify-content: center;
  display: flex;
}

.logo {
  width: 180px;
  height: 50px;
}
.carousel-control {
  border-radius: 8px;
}
.login {
  border: 1px solid white;
  border-radius: 20px;
  width: 125px;
  height: 44px;
}
.login img{
  width: 28px;
  height: 28px;
  margin: 0 5px;
}
.iconhome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
}
.iconhome img {
  width: 52px;
  margin: 12px 12px 12px 12px;
}

.logo google {
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 8px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.col-md-5 {
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 8px;
  padding: 16px 16px 16px 16px;
}
.justify-content-between {
  justify-content: space-between;
  display: flex;
}
.inputform {
  padding-top: 16px;
  padding-bottom: 16px;
}
.tombolconvert {
  color: white;
}
.btntombol {
  background-color: #FF9900;
}
.iconprovider {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 14px;
}
@media screen and (max-width:800px) {
  
  .logo{
    width: 100px;
    height: 30px;
  }
  .flex-container {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  .flex-container a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .flex-container a:hover{
    color: #f1f1f1;
  }
  .flex-container .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .col-md-5{
    margin: 5px 10px 5px 10px;
  }
  .span {
    margin: 15px;
  }
  .col-md-5{
    margin: 24px;
  }
  .carousel-inner{
    margin-top: 16px;
  }
  .navbar{
    margin-bottom: 0px;
  }
 }