.konfirmasi{
    text-align: center;
    padding: 20px 20px;
}
.header-konfirmasi{
    font-size: 24px;
    font-weight: bold;
}
.content-header-konfirmasi{
    font-weight: bold;
}
.left{
    text-align: right;
}
.right {
    text-align: left;
}
.confirm {
    background-color: white;
    border-radius: 8px;
    padding: 20px 20px 50px 20px;
    font-size: 16px;
}
.col-md-6{
    padding: 4px 20px;
}
.btn {
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 8px;
    color: black;
}
.btn-convert {
    color: white;
    background-color: #FF9900;
}
.conf {
    padding-top: 20px;
}
.bg{
    background-color: white;
}


@media screen and (max-width:995px) {
    .confirm{
        margin: 20px 20px 20px 20px;
    }
    .header-konfirmasi{
        font-size: 20px;
    }
    .content-header{
        font-size: 16px;
    }
}