* {
  font-family: 'Roboto', sans-serif;
}

  .justify-content-between {
    justify-content: space-between;
    display: flex;
  }
  .iconhp {
    text-align: center;
  }
  .iconhp img {
    width: 33vh;
  }
  .avail {
    text-align: center;
    font-family: roboto;
    font-size: 18px;
  }
  .logo-google {
    display: flex;
    justify-content: center;
  }
  .iconavail img {
    width: 107px;
  }
  .hallo {
    display: block;
    color: white;
    text-align: right;
    padding: 10px 35px;
    text-decoration: none;
    font-size: 56px;
  }
  .btn-google {
    color: black;
    background-color: #ffffff;
    padding: 0 52px!important;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 8px;
  }
  .btn-login {
    font-family: roboto;
    font-size: 18px;
    padding-top: 100px;
    text-align: center;
    color:white;
  }
  .btn-login img {
    width: 66px;
  }

  @media screen and (max-width:800px) {
    .iconhp img{
      display: none;
    }
    .avail{
      display: none;
    }
    .hallo{
      text-align: left;
      color: #FF9900;
      font-size: 28px;
      margin: 80px 0 80px 0;
    }
    .btn-login{
      color: #FF9900;
      padding-top: 0px;
    }
    .btn{
      color: white;
      background-color: #FF9900;
      border-radius: 12px;
      box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 8px;
    }
  }