
.icon-user img{
    width: 52px;
}
.icon-user {
    display: flex;
    justify-content: center;padding: 10px 10px;
}
.nama {
    text-align: center;
}
.user {
    background-color: #F4F4F4;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 8px;
    padding: 2em 10em;
}
.navi {
    background-color: white;
    padding-left: 20px;
}
.btn {
    margin: 12px;
    background-color: white;
}
.btn img{
    margin-right: 10px;
    width: 20px;
}
.btn-bantuan img{
    height: 20px;
    width: 18px;
}
.button-logout {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 20px;
}
.btn-logout {
    color: white;
    background-color: #FF9900;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 8px;
    color: white;
}
.container-user {
    position: fixed;
    top: 80px;
    right: 0px;
}
.hub{
    padding-left: 20px;
    padding-top: 10px;
}

@media screen and (max-width:800px) {
    .container-user{
        position: inherit;
        border-radius: 8px;
    }
    .user{
        border-radius: 8px 8px 0 0;
    }
}